.labelFilter {
color:brown;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}
.spanFind {
margin-bottom: -20px;


}
.inputSearch {
    position: relative;
    background-color: transparent;
     
        
}