.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
   border-radius: 20px;
  display: flex;
  flex-grow: 1;
  box-shadow: 3px 3px 3px 3px #888888;
 
}

nav {
background-color: rgb(255, 183, 0);
  display: flex;
  gap: 100px;
  
}
.active {
    color: white;
    background-color: brown;
    
}