.contactItem {
        color: brown;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
        list-style: none;
        margin-left:  10px;
        margin-right: auto;
        margin: 10px 0;
 
}
p {
margin: 0;
flex-grow: 1;
text-align: left;

}
.deleteBtn {
align-items: center;
border: none;
margin-left: 10px;
cursor: pointer;
border-radius: 5px;
width: 50px;
height: 20px;
color: white;
background-color: brown;
}
.deleteBtn:hover {
background-color: rgb(124, 158, 61);
/* transform: scale(1, 1.2);
transform: skewY(30deg); */


}
.contactList {
    border: 1px solid black;
    margin: 0 auto;
    width: 500px;
    align-items: space-evenly;
    height: 30px;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
 padding: 10px;
   
 
}